* {
    font-family: "Fira Sans";
}

body {
    background-color: #F1F1F3;
}

main {
    margin: 0 130px;
}

.banner {
    width: 950px;
    height: 400px;
    margin: 50px auto;
    padding: 80px 100px;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner>img {
    width: 400px;
    height: 360px;
}

.ban-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ban-content>h3 {
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ban-content>h6 {
    color: rgba(14, 14, 14, 0.50);
    font-family: "Fira Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: -20px;
}

.btn {
    display: flex;
    padding: 17px 34px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    background: #006A50;
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.btn:hover {
    background-color: darkred;
}

.vision {
    margin: 0 auto;
    width: 90%;

}

.vision>h3 {
    color: #0E0E0E;
    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.vision>p {
    color: rgba(14, 14, 14, 0.70);
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -10px;
}

.box {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-top: 30px;
}

.box1 {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
    height: 250px;
    border-radius: 16px;
    border: 0px solid #5490F5;
    background: rgba(84, 144, 245, 0.20);
}

.box2 {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
    height: 250px;
    border-radius: 16px;
    border: 0px solid #09A15C;
    background: #C6E4D6;
}

.box3 {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
    height: 250px;
    border-radius: 16px;
    border: 0px solid #FFC239;
    background: #F7EBCF;
}

.box1>button {
    display: flex;
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    background: #5490F5;
    color: #FFF;
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.box1>button:hover {
    background-color: darkorange;
}

.box2>button {
    display: flex;
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    background: #09A15C;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.box2>button:hover {
    background-color: plum;
}

.box3>button {
    display: flex;
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    border-radius: 8px;
    background: #FFC239;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.box3>button:hover {
    background-color: navy;
}

.yunus {
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px 20px;
    background: #FFF;
    margin: 0 auto;
    width: 87%;
    margin-top: 30px;
}

.quote {
    background-image: url('assets/quote-bg.png');
    background-repeat: no-repeat;
    margin-top: -10px;
    padding-top: 30px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
}

.yunus>h4 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}

.designation {
    margin-top: -20px;
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.news>h3 {
    color: #0E0E0E;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.news {
    margin: 0 auto;
    width: 90%;
}

.news>p {
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -10px;
}

.news-box {
    display: flex;
    gap: 35px;
    border-radius: 18px;
    background: #FFF;
    padding: 48px;
    width: 94%;
    align-items: center;
    text-align: justify;
    justify-content: space-around;
    margin-top: 30px;
}

.newss-right>h2 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.newss-left2>h2 {
    color: rgba(14, 14, 14, 0.80);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.newss-left>img {
    border-radius: 16px;
}

.newss-right2>img {
    border-radius: 16px;
}

.newss-right>p {
    color: rgba(14, 14, 14, 0.70);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.newss-left2>p {
    color: rgba(14, 14, 14, 0.70);
    font-family: "Fira Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.read {
    border-radius: 8px;
    background: #006A50;
    display: flex;
    padding: 13px 26px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.read:hover {
    background-color: sandybrown;
}

.donate {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.taka-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.donate>h2 {
    color: #0E0E0E;
    text-align: center;
    font-family: "Fira Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.donate>p {
    color: rgba(14, 14, 14, 0.70);
    text-align: center;
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.taka100,
.taka500,
.taka1000 {
    width: 220px;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #FFF;
    display: flex;
    padding: 28px;
    color: rgba(14, 14, 14, 0.80);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.taka200 {
    background-color: #C6E4D6;
    width: 220px;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    display: flex;
    padding: 28px;
    color: rgba(14, 14, 14, 0.80);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.taka100:hover {
    background: #C6E4D6;
}

.taka200:hover {
    background: #5490F5;
}

.taka500:hover {
    background: #C6E4D6;
}

.taka1000:hover {
    background: #C6E4D6;
}

.donate>input {
    display: block;
    width: 1000px;
    height: 64px;
    text-align: center;
    margin: auto 160px 32px 150px;
    border: none;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

.donate>button {
    margin-bottom: 60px;
}

.donate>button:hover {
    background-color: khaki;
    color: brown;
}

.subscribe {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    text-align: center;
    margin-top: 80px;
    margin: 0 auto;
    width: 82%;
}

.subs-content {
    padding: 80px 100px;
}

.subs-content>h1 {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.subs-content>p {
    color: rgba(14, 14, 14, 0.70);
    text-align: center;
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.subs {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.subs>input {
    width: 600px;
    height: 30px;
    padding: 18px 40px;
    border-radius: 8px 0 0 8px;
    border: none;
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    margin-right: 0px;
}

.subs>button {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    background-color: rgb(0, 106, 80);
    border-radius: 0 8px 8px 0;
    margin-right: 0;
    border: none;
    cursor: pointer;
}

.spam {
    color: rgba(14, 14, 14, 0.70);
    text-align: center;
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subs>button:hover {
    background-color: cornflowerblue;
}